<!DOCTYPE html>
<html>

<head>
<title>Imageboard Web Application</title>
<link rel="stylesheet" type="text/css" href="imgboard.css">
</head>

<body>
	<div id="pagewrapper">
		<div id="formwrapper">
			<h1>GM-IMG</h1>

			<form method="post" enctype="multipart/form-data">
				<label>
					<div>Post title: </div></label>
					<input type="text" name="title" value="{{title}}">
				<br><br>
				<label>
					<div>Image: </div></label>
					<input type="file" name="upfile" value=""><br>
				<br>
				<label>
					<div>Post text(optional): </div></label>
					<textarea name="text">{{text}}</textarea>
				<br>

				<div class="error">{{ error }} </div>

				<input type="submit">
			</form>
		</div>
		<br>
		{% for post in postedimages %}
		<article class="postimage">
		<h2>&quot;{{ post.title }}&quot;</h2>
		<h3><em>Posted {{ post.createdate }}</em></h3>
		<div class="imgwrapper"><a href="img?img_id={{ post.key() }}"><img src="img?img_id={{ post.key() }}"></a></div>
		<div class="posttext"><p>{{post.text}}</p></div>
		</article>
		{% endfor %}
		<footer>2012 L. Gabriel Miller</footer>
	</div>

</body>
</html>